@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --blue: 0, 0, 255;
}
.blue-button {
  @apply bg-blue-500 text-white py-2 px-4 rounded font-semibold;
}
.blue-border-label {
  @apply relative block rounded-md border border-blue-500 shadow-sm focus-within:border-green-600 focus-within:ring-1 focus-within:ring-green-600 mb-4;
}
.blur-effect-theme {
  @apply bg-white/50 bg-clip-padding backdrop-filter backdrop-blur bg-opacity-50 opacity-100 z-[100] shadow-sm shadow-slate-100 transition-all duration-300;
}

.text-input {
  @apply border-none bg-transparent placeholder-transparent focus:border-transparent focus:outline-none focus:ring-0 p-2 mb-4;
}
.top-moving-span {
  @apply pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-white bg-blue-500 p-0.5 text-xs text-gray-700 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-sm peer-focus:top-0 peer-focus:text-xs peer-focus:font-semibold;
}
.bg-transparent {
  background-color: 'transparent';
}
.bg-blue-500 {
  background-color: blue/20;
}
body {
  color: rgb(var(--blue)); /* Use the RGB value stored in the custom property */
  background: white;
}
